{
  "parser": "babel-eslint", // https://github.com/babel/babel-eslint,
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": [
    "babel",
    "react"
  ],
  "globals": {
    "$p": true,
    "global": true,
    "process": true,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "strict": [2, "global"],
    "max-len": [1, 160, 2],
    "no-empty": 1,
    "no-undef": 1,
    "no-unused-vars": 1,
    "semi": [1, "always"],
    "semi-spacing": [1, {"before": false, "after": true}],
    "no-case-declarations": 1,
    "no-console": 1,
    "no-extra-semi": 1,
    "no-unexpected-multiline": 1,
    "no-useless-escape": 1,
    "no-mixed-spaces-and-tabs": 1,
    "quotes": [0, "single", "avoid-escape"],
    "indent": [0, 2, { "SwitchCase": 1 }],
    "react/prop-types": 1,
    "react/display-name": 1,
    "generator-star-spacing": 0,
    "jsx-a11y/href-no-hash": 0
  }
}
